* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.j-content-c {
  justify-content: center;
}

.a-items-c {
  align-items: center;
}

.mx-auto {
  margin: 0 auto;
}

.px {
  padding: 0 1rem;
}

.px-1 {
  padding: 0 2rem;
}

.py {
  padding: 1rem 0;
}

.py-1 {
  padding: 2rem 0;
}

.fs-2 {
  font-size: 2rem;
}